@import "../core/variables";
@import "../core/mixins";

.effect-bottom {
  border-bottom: 5px solid $primary;
}

.order-filter {
  max-width: 450px;
  @include d-flex(center, flex-start);
}

.card-infos {
  @include d-flex(center, center);
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: 0 0 0 0 !important;
}
