@import "../core/mixins";
@import "../core/variables";

.card {
  @include widthAndHeight(270px, 300px);
  @include d-flex(center, center, column);

  &__container {
    @include widthAndHeight(100%, 100%);
    @include d-flex(center, space-between, column);
  }

  &__header {
    padding: 0 1.3rem;
    height: 100%;

    @include d-flex(center, center, column);
  }

  &__subtitle {
    font-size: 0.8rem !important;
    text-align: center;
  }

  &__top {
    @include d-flex(center, center, column);

    text-align: center;
  }

  &__link {
    color: $light !important;
    text-decoration: none;
    transition: ease-in-out 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__footer {
    width: 100%;
    background: linear-gradient(to right, $primary-light, $primary);
    border-radius: 0 0 4px 4px;

    @include d-flex(center, space-between);
  }
}
